/* Common Css Start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

ul,
ol {
    list-style: none;
}

img {
    vertical-align: middle;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* Common Css Start */
/* Common Css Start */
#banner {
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    padding: 216px 230px 365px 845px;
}

.banner-content {
    text-align: right;
    width: 525px;
}

.banner-content h1 {
    color: #fff;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 0px;
}

.banner-content p {
    margin-top: 30px;
    margin-bottom: 0px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.banner-content a {
    margin-top: 35px;
    width: 160px;
    padding: 20px 25px;
    background: #F15B22;
    border: 0px;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}


/* Failure Css Start */
#failure {
    margin-bottom: 150px;
}

.fail-coloumm {
    position: relative;
    z-index: 1;
}

.fail-coloumm::after {
    position: absolute;
    content: '';
    width: 527px;
    height: 527px;
    border-radius: 50%;
    background: rgba(241, 91, 34, 0.20);
    top: 194px;
    left: 26px;
    z-index: -1;
}

.coloum {
    display: flex;
    align-items: center;
    gap: 100px;
}

.fail-col-text {
    margin-bottom: 0px;
    width: 288px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.fail-text {
    margin-top: 25px;
    margin-bottom: 0px;
    width: 416px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.text {
    margin-top: 15px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

/* My plan */
#my-plan {
    margin-bottom: 100px;
}

.plan-head {
    margin-bottom: 50px;
    text-align: center;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.plan-item {
    text-align: center;
}

.plan-item h2 {
    margin-top: 20px;
    color: #151414;
    font-size: 30px;
    font-weight: 700;
}

.plan-item p {
    margin-top: 10px;
    color: #737272;
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 500;
}

.plan-content {
    display: flex;
    justify-content: space-between;
}

/* Banner Two */
#banner-two {
    margin-bottom: 100px;
}

.banner-two-content {
    padding-top: 59px;
    padding-left: 60px;
    padding-bottom: 60px;
    position: relative;
    background: url(../images/watch.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.banner-two-content::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%);
    z-index: -1;
}


.bann-overly h2 {
    width: 460px;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}

.bann-overly a {
    margin-top: 35px;
    width: 160px;
    padding: 20px 25px;
    background: #FFF;
    border: 0px;
    border-radius: 5px;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
}

/* Footer */
footer {
    background-color: black;
    padding: 130px 230px;
}

.foot-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-coloum-one {
    width: 485px;
}

.foot-coloum-one ul {
    display: flex;
}

.foot-coloum-one ul li {
    margin-right: 20px;
}

.face-book a i {
    width: 45px;
    height: 45px;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #fff;
}

.twitter a i {
    width: 45px;
    height: 45px;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #fff;
}

.you-tube a i {
    color: red;
    width: 45px;
    height: 45px;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #fff;
}

.foot-coloum-two {
    width: 325px;
}

.foot-coloum-one h1 {
    margin-bottom: 0px;
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}

.foot-p {
    margin-top: 15px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.email {
    margin-top: 15px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px
}

.phone {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px
}

.foot-col-head {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
}

form input {
    padding: 21px 158px 22px 21px;
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #fff;
    border-radius: 10px;
    background: black;
}

form button {
    padding: 20px 30px;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
}